$base__font: 'Montserrat', sans-serif;
$base__line-height: 1.6;
$base__border-radius: 5px;
$navbar-height: 70px;
$body__max-width: 1250px;

// Typography
$header1: 40px;
$header2: 32px;
$header3: 28px;
$header4: 24px;
$header5: 20px;
$header6: 16px;

$text1: 14px;
$text2: 12px;
$text3: 10px;

// Breakpoints
$mobile: 480px;
$ipad: 768px;
$laptop: 1025px;
$tv: 1201px;