$base_font: 'Montserrat', sans-serif;
$border-radius: 5px;
$navbar-height: 70px;

// Typography
$header1: 3.2rem;
$header2: 2.4rem;
$header3: 1.872rem;
$header4: 1.6rem;
$header5: 1.328rem;
$header6: 1.072rem;