  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  html {
    font-size: 62.5%;
  }

  body {
    max-width: 1250px;
    margin: 0px auto;
  }

  #root {
    width: 100%;
    letter-spacing: 1.5px;
    font-family: $base__font;
    background: whitesmoke;
    color: black;
  }

  a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }

  ::placeholder {
    color: white;
  }