  body {
    max-width: $body__max-width;
    margin: 0px auto;
    background: #EEE;
    font-size: 16px;
  }

  #root {
    width: 100%;
    letter-spacing: 1.5px;
    font-family: $base__font;
    background: #000;
    color: #EEE;
  }

  a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    color: #EEE;
    border-color: #EEE;
  }

  .overlay {
      position: absolute;
      width: 100%;
      background: #000;
      height: 100vh;
      overflow: none;
      z-index: 2;
  }