.cards {
  width: 80%;
  margin-right: 20%;
}

.card__wrap {
  margin: 2px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
}

.card__title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: $header3;
  padding: 5px 0px;
}

.card__languages {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: $header4;
  font-weight: normal;
  margin-bottom: 5px;
  padding: 7px 0px;
}

.card__description {
  margin-bottom: 10px;
  font-size: $header5;
  line-height: 1.6;
}

.card__button {
  font-size: $header3;
  background: transparent;
  border-radius: 2px;
  border: none;
  color: white; // override browser defaults
  padding: 0;
  &:hover{
    background: transparent;
    cursor: pointer;
    color: black;
  }
}

.card__button + .card__button {
  margin-left: 10px;
}

@media (min-width: $mobile) {
  .cards {
    width: 90%;
    margin: 0px 5%;
  }
}

@media (min-width: $ipad) {
  .cards {
    width: 80%;
    margin: 0px 10%;
  }
}

@media (min-width: $laptop) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-content: flex-start;
    width: 90%;
    margin: 0px 5%;
  }

  .card__wrap {
    width: 350px;
  }
  
}


