.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0px 9% 0px 1%;
}

.cards_item {
  margin: 2px;
  width: 268px;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
}

.card_body {
  display:flex;
  flex-direction: column;
}

.card_title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: $header3;
  padding: 5px 0px;
}

.card_subtitle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: $header5;
  font-weight: normal;
  margin-bottom: 5px;
  padding: 7px 0px;
}

.card_text {
  margin-bottom: 10px;
}

.card_button {
  font-size: $header3;
  background: transparent;
  border-radius: 2px;
  border: none;
  color: white; // override browser defaults
  padding: 0;
  margin: 0;
  &:hover{
    background: transparent;
    cursor: pointer;
    color: black;
  }
}

#card_button2 {
  margin-left: 15px;
}
