
.icon_links {
  display: flex;
  justify-content: center;
  font-size: $header2;
}
.icon_link_container {
  margin: 20px 0px 2px 0px;
}
.icon_link {
  margin: 0px 20px;
  color: whitesmoke;
  &:hover {
    color: black;
  }
}
.footer {
  font-size: $text1;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: rgb(#888,0.5);
  position: fixed;
  bottom: 0;
}
.citations {
  text-decoration: none;
}