@keyframes textFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.body__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: textFadeIn;
  animation-duration: 4s;
  width: 100%;
  color: whitesmoke;
  height: 100vh;
}

.header__name {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.box1_description {
  padding: 20px 0px;
}

.box1_link1, .box1_link2, .box1_link3 {
  font-size: 1.5rem;
  font-weight: bold;
  height: 40px;
  margin-bottom: 20px;
  color: whitesmoke;
  &:hover {
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 18px;
  }
}

@media (max-width: 768px) {
  .about {
    font-size: 1rem;
  }
}

@media (max-width: 515px) {
  .header__name {
    font-size: 2.7rem;
  }
  .box1_icon_text {
    display: none;
  }
}
