
.icon_links {
  display: flex;
  justify-content: center;
  background: black;
}
.icon_link_container {
  margin: 20px 0px 2px 0px;
}
.icon_link {
  font-size: 2.5rem;
  margin: 0px 20px;
  color: white;
}
.footer {
  text-align: center;
  font-size: 1rem;
  padding: 10px 10px 10px 10px;
  height: auto;
  background: black;
  overflow: hidden;
  color: #969696;
}
.citations {
  text-decoration: none;
}