body {
  display: flex;
  width: 100%;
  background: whitesmoke;
  color: black;
}

#root {
  width: 100%;
  max-width: 1250px;
  margin: 0px auto;
  font-size: 62.5%;
  letter-spacing: 1.5px;
  font-family: 'Montserrat', sans-serif;
  background: whitesmoke;
  color: black;
}