a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.header {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
#navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  background: rgb(25, 25, 25);
  height: 70px;
  font-size: 1.2rem;
  transition: top 0.5s;
  max-width: 1250px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  -webkit-box-shadow: 1px -2px 11px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -2px 11px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -2px 11px 6px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
}

.desktop_view {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 0px 10%;
}

.navbar_link_button {
  text-align: center;
  padding: 5px 20px;
  font-size: 14px;
}

.navbar_icon {
  font-size: 25px;
  padding: 5px 0px;
}

.icon_text {
  // Need this so there isn't a padding jolt when the text is inserted!!
  width: 80px;
  animation-name: textFadeIn;
  animation-duration: 1s;
}
button:focus {
  outline: 0;
}
#splash {
  cursor: pointer;
}

#splash_icon:hover {
  transform: rotate(45deg);
  transition: transform 0.5s ease-in;
}

.mobile_view {
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  margin: 6px 0;
}

.dropdownClosed {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
}
.dropdownOpen {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  padding: 100px 0px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  #navigation {
    display: flex;
    justify-content: flex-start;
  }
  .mobile_view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  .mobile_view_text {
    font-size: 14px;
  }

  .navbar_link_button {
    font-size: 14px;
  }

  .navbar_icon {
    font-size: 40px;
  }
  .desktop_view {
    display: none;
  }
}
