.portfolio {
  padding: 70px 0px 5% 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .portfolio {
    flex-direction: column;
    justify-content: none;
    align-items: none;
    align-content: none;
  }
}
